[Unit]

Description = Send the IP addresses corresponding to all network cards on your machine through broadcast

[Service]
ExecStart = /usr/local/bin/BroadCast
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target